body {
  --color-primary: #009579;
  --color-secondary:#007f67;
  --color-success: #8B008B;
  --color-error: #cc3333;
  --border-radius: 4px~

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url(./background.jpg);
  background-size: cover;
  
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); 
  border-radius: var(--border-radius);
  background: rgba(255,255,255, 0.5);
}

.container,
.form__input,
.form__button {
  font: 500 1rem 'Roboto', sans-serif;
}

.form > :first-child {
  margin-top: 0;
}

.form > :last-child {
  margin-top: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
}

.form__button {
  background-color: var(--color-success);
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}